<main class="form-wrapper">
  <form (ngSubmit)="onSubmit()" class="form" ngNativeValidate>
    <h2 class="title">Nova Transação</h2>
    <div class="fields">
      <label class="group-field"
        >Transação
        <div class="select-wrapper">
          <select [(ngModel)]="transactionType" name="transaction-type" class="field select-transaction-type" required>
            <option value="" selected disabled>Selecione o tipo de transação</option>
            @for (type of TransactionTypeEnum | keyvalue; track type.key) {
              <option [value]="type.value">{{ type.value | titlecase }}</option>
            }
          </select>
        </div>
      </label>

      <label class="group-field">
        Valor
        <div class="input-wrapper">
          <input
            type="number"
            min="0.01"
            step="0.01"
            name="value"
            class="field input-transaction-value"
            [(ngModel)]="transactionValue"
            placeholder="00,00"
          />
        </div>
      </label>

      <button class="btn-confirm">Confirmar Transação</button>
    </div>
  </form>
</main>
